@use "../utils/_index.scss" as *;

.title {
  font-family: $font-family;
  @include adaptive-property(font-size, 4.25, 3, 3, rem);
  @include adaptive-property(margin-bottom, 24, 8, 4);
  font-weight: 600;
  @include adaptive-property(line-height, 3, 3.5, 4.125, rem);
  letter-spacing: -0.05em;
  color: $text-color-main;
}
.subtitle {
  font-family: $font-family;
  @include adaptive-property(font-size, 1.5, 2.5, 2.5, rem);
  line-height: 150%; /* 36px/24 */
  letter-spacing: -0.05em;
  color: $text-color-main;
}
//=================================BUTTON=============================
.button {
  width: min(100%, 480px);
  position: relative;
  left: 0;
  right: 0;
  padding-block: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2b9ee7;

  font-size: 1.5rem;
  font-weight: 500;
  line-height: 150%; /* 36px/24 */
  letter-spacing: -0.04em;

  border-radius: 20px;
  border: 2px solid #6cafd9;
  background: #c9e4ea;
  transition: $transition-duraction;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;

  &:disabled {
    color: $bg-color-main;
    border-color: #c9e4ea;
  }
  &:hover {
    color: $text-color-main;
    border-color: #6cafd9;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
  }
  &:active {
    color: #dde5e8;
    border-color: #6cafd9;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
  }
}
// ==============================LOGO
.logo {
  display: flex;
  align-items: center;
  &__img {
    display: block;
    @include adaptive-property(width, 42, 0, 60);
    aspect-ratio: 1 / 1;
    @include ibg;
  }
}
