$menu-size: 70px;
$line-height: 4px; // замість 0.05em
$gap: $line-height * 5;
$bg-color: #000;
$radius: 0;

%menu-dash {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: $bg-color;
  width: $menu-size;
  height: $line-height;
  border-radius: $radius;
}

.burger {
  width: $menu-size;
  height: $menu-size;
  display: inline-block;
  position: relative;
  background-color: transparent;
  border: 0;
  padding: 0;
  outline: none;
  user-select: none;
  -webkit-touch-callout: none;
  touch-action: manipulation;
  cursor: pointer;

  span {
    @extend %menu-dash;
    margin-top: $line-height / -2;
  }

  &:before {
    content: "";
    @extend %menu-dash;
    margin-top: -$gap + ($line-height / -2);
  }

  &:after {
    content: "";
    @extend %menu-dash;
    margin-top: $gap + ($line-height / -2);
  }
}

//Зсув до центру
// =============================================
.translate-center {
  span {
    transition: 0.2s ease-in-out 0.2s;
  }

  &:before,
  &:after {
    transition: margin 0.2s ease-in-out 0.2s, transform 0.2s ease-in-out 0s;
  }

  &.active {
    span {
      background-color: rgba($bg-color, 0);
      transition-delay: 0s;
    }

    &:before,
    &:after {
      margin-top: 0;
      transition-delay: 0s, 0.25s, 0.25s;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }
}

// Обертання
// =============================================
.rotate {
  &:before,
  &:after {
    display: none;
  }

  span {
    transition: 0.25s ease;

    &:before,
    &:after {
      @extend %menu-dash;
      content: "";
      transition: 0.25s ease;
      top: 0;
      left: 0;
    }

    &:before {
      transform: translateY(-$gap);
    }

    &:after {
      transform: translateY($gap);
    }
  }

  &.active {
    span {
      transform: rotate(45deg);

      &:before,
      &:after {
        transform: rotate(90deg);
      }
    }
  }
}

// Cередина відїжає вправо і зникає
// // =============================================
.midle-hidden {
  &:before,
  &:after,
  span {
    transition: 0.25s ease-in-out;
  }

  &.active {
    &:before {
      transform: rotate(135deg);
      margin-top: $line-height / -2;
    }

    &:after {
      transform: rotate(-135deg);
      margin-top: $line-height / -2;
    }

    span {
      opacity: 0;
      transform: translateX(150%);
    }
  }
}

// Верх і низ плавно зникає в різні боки
// // =============================================
.both-hidden {
  &:before,
  &:after {
    transition: 0.2s ease 0.2s;
  }

  &:after {
    left: auto;
    right: 0;
  }

  span {
    transition: 0.2s;

    &:before {
      @extend %menu-dash;
      content: "";
      transition: inherit;
      left: 0;
      top: 0;
    }
  }

  &.active {
    &:before,
    &:after {
      transition: 0.2s ease;
      width: 0;
    }

    span {
      transform: rotate(45deg);
      transition: 0.2s ease 0.2s;

      &:before {
        transform: rotate(-90deg);
      }
    }
  }
}

// // Бургер стає крапкою
// // =============================================
.dott {
  &:before,
  &:after {
    transition-property: margin, opacity;
    transition-duration: 0.25s, 0s;
    transition-delay: 0.25s;
  }

  span {
    transition: 0.25s ease;
  }

  &.active {
    span {
      $menu-dott: $menu-size / 3.333;

      width: $menu-dott;
      height: $menu-dott;
      margin-top: $menu-dott / -2;
      left: $menu-dott; 
      border-radius: 50%;
      transition-delay: 0.25s;
    }

    &:before,
    &:after {
      margin-top: 0;
      opacity: 0;
      transition-delay: 0s, 0.25s;
    }
  }
}

// // Example 8
// // =============================================
.example-8 {
  &:before,
  &:after {
    display: none;
  }

  span {
    transition: 0.25s ease;

    &:before,
    &:after {
      @extend %menu-dash;
      content: "";
      top: 0;
      left: 0;
      transition: inherit;
      margin: 0;
    }

    &:before {
      transform: translateY(-$gap);
    }

    &:after {
      transform: translateY($gap);
    }
  }

  &.active {
    span {
      transform: rotate(180deg);

      &:before,
      &:after {
        width: $menu-size / 2;
        // left: 0.12rem; // 0.02em = 0.02 * 6rem
        left: $menu-size / 100 * 2;
      }

      &:before {
        // transform: rotate(-45deg) translateY(-1.02rem); // 0.17em = 1.02rem
        transform: rotate(-45deg) translateY(-($menu-size / 100 * 16));
      }

      &:after {
        transform: rotate(45deg) translateY($menu-size / 100 * 16);
      }
    }
  }
}

// // Example 9
// // =============================================
// .example-9 {
//   &:before,
//   &:after {
//     display: none;
//   }

//   span {
//     transition: 0.25s ease;

//     &:before,
//     &:after {
//       @extend %menu-dash;
//       content: "";
//       top: 0;
//       right: 0;
//       left: auto;
//       transition: inherit;
//       margin: 0;
//     }

//     &:before {
//       transform: translateY(-$gap);
//     }

//     &:after {
//       transform: translateY($gap);
//     }
//   }

//   &.active {
//     span {
//       transform: rotate(-180deg);

//       &:before,
//       &:after {
//         width: $menu-size / 2;
//         right: 0.12rem; // 0.02em = 1.2px = 0.12rem
//       }

//       &:before {
//         transform: rotate(-45deg) translateY(1.02rem);
//       }

//       &:after {
//         transform: rotate(45deg) translateY(-1.02rem);
//       }
//     }
//   }
// }

