@use "vars" as *;
// Лічильник для списку
// %listCounter {
// 	list-style-type: none;
// 	counter-reset: item;
// 	li {
// 		position: relative;
// 		&:before {
// 			counter-increment: item;
// 			content: counter(item);
// 			position: absolute;
// 			left: 0;
// 			top: 0;
// 		}
// 	}
// }
// // Адаптивне відео
// %responsiveVideo {
// 	video,
// 	iframe,
// 	object,
// 	embed {
// 		aspect-ratio: 16 / 9;
// 	}
// }
// // Відео як фон
// %videoBackground {
// 	video,
// 	iframe,
// 	object,
// 	embed {
// 		position: fixed;
// 		top: 50%;
// 		left: 50%;
// 		min-width: 100%;
// 		min-height: 100%;
// 		width: auto;
// 		height: auto;
// 		z-index: -100;
// 		transform: translateX(-50%) translateY(-50%);
// 		object-fit: cover;
// 	}
// }
// // Сірий фільтр
// %grayfilter {
// 	transition: all 0.4s ease 0s;
// 	filter: grayscale(1);
// 	@media (any-hover: hover) {
// 		&:hover {
// 			filter: grayscale(0);
// 		}
// 	}
// }
// // Скасувати виділення
// %noselect {
// 	user-select: none;
// }
// // Дзеркальне відображення
// %mirror {
// 	transform: scale(-1, 1);
// }
// // Сховати скролл
// %hidescroll {
// 	&::-webkit-scrollbar {
// 		display: none;
// 	}
// }
