// Налаштування стилів за замовченням
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

$font-family: ""; // Шрифт за замовчуванням
$font-size: 1rem; // Розмір шрифту за замовченням (де 16 - розмір шрифту за замовчуванням з макету)

// Основні кольори
$text-color-main: #000;
$text-color-2: #4f4f54;
$text-color-red: #de9114;
//Фон
$bg-color-main: #fff;
$bg-color-2: #f5f5f5;
$bg-color-red: #f2dbb0;

// Ефекти і їх тривалість
$transition-duraction-long: 0.65s;
$transition-duraction: 0.3s;

//Інше
$radius: 16px;

// Ефекти і їх тривалість
$transition-duraction-long: 0.65s;
$transition-duraction: 0.3s;

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Налаштування адаптивної сітки
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// Мінімальна ширина сторінки
$min-width: 320;
// Ширина полотна (макету)
$max-width: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$max-width-container: 1170;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$container-padding: 30;

// Ширина спрацьовування першого брейкпоінту
$container-width: $max-width-container + $container-padding;

// Брейк-поїнти
$pc: $container-width; // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: 991.98; // Планшети, деякі телефони в горизонтальному положенні
$mobile-l: 767.98; // Телефони L
$mobile-s: 479.98; // Телефони S

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

