@use "../../styles/scss/utils/index" as *;

.swiper.places-slider {
  min-width: 0;
  @include adaptive-property(width, 320, 0, 1340);

  .places-slider__body {
    min-width: 0;
    position: relative;
    padding-inline: 15px;
    overflow: hidden;
  }

  .swiper-wrapper.places-slider__items {
    align-items: center;
    margin-inline: auto;
  }

  .places-slider__next,
  .places-slider__prev {
    display: none;
    position: absolute;
    top: calc(50% - 17px);
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: $text-color-main;
    border: 2px solid $bg-color-main;
    justify-content: center;
    align-items: center;
    transition: $transition-duraction;
    z-index: 2;
    cursor: pointer;

    @include on-tablet {
      display: flex;
    }

    &:hover {
      scale: 1.05;
    }
  }

  .places-slider__next {
    right: 0;
    rotate: 180deg;
  }

  .places-slider__prev {
    left: 0;
  }
}

.slide-places {
  @include adaptive-property(width, 200, 0, 430);
  position: relative;
  left: 0;
  top: 0;
  flex-shrink: 0;
  aspect-ratio: 1.1 / 1;
  cursor: pointer;
  transition: $transition-duraction;
  border-radius: 16px;
  overflow: hidden;

  &__body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}