@use "../../styles/scss/utils/index" as *;

.popup {
  left: 50vw;
  top: 50vh;
  translate: -50% -100px;
  opacity: 0;
  @include adaptive-property(border-radius, 20, 0, 8);
  border: 1px solid #000;
  overflow: hidden;

  display: none;
  transition: $transition-duraction-long allow-discrete;

  &__content {
    @include position-r;
    @include adaptive-property(width, 280, 0, 900);
    @include adaptive-property(padding, 16, 0, 22);
    @include adaptive-property(padding-top, 68, 0, 64);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
  }
  &__close {
    position: absolute;
    @include adaptive-property(right, 16, 0, 22);
    @include adaptive-property(top, 16, 0, 22);
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;

    span {
      position: relative;
      &:before,
      &:after {
        content: "";
        position: absolute;
        top: calc(50% - 2px);
        left: calc(50% - 6px);
        width: 12px;
        height: 2px;
        border-radius: 4px;
        background-color: #324052;
      }
      &:before {
        rotate: -45deg;
      }
      &:after {
        rotate: 45deg;
      }
    }
  }
}
.popup::backdrop {
  opacity: 0;
  transition: $transition-duraction-long allow-discrete;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup[open] {
  display: block;
  opacity: 1;
  translate: -50% -50%;
  overflow-y: hidden;
}
.popup[open]::backdrop {
  opacity: 1;
}
@starting-style {
  .popup[open] {
    opacity: 0;
    translate: -50% -100px;
  }
  .popup[open]::backdrop {
    opacity: 0;
    background-color: rgba($color: #000000, $alpha: 1);
  }
}
